@media screen and (max-width: 530px) {
    /* Services Zone */

    .services-details-left {
        display: none;
    }

    .services-details-right {
		width: 90%;
		margin: auto;
	}
    
    /* Portfolio Zone */


    /* Contact Form Zone */

    .contact-container {
        flex-direction: column;
        height: 100%;
    }
    
    .map-background {
        background-color: rgb(245,245,245);
    }

	.form-container {
		position: static;
		margin: auto;
		width: 100%;
		background-color: rgb(245,245,245);
    }
    
    .form-content p {
        line-height: 1.53em;
    }

    
}

@media screen and (min-width: 531px) and (max-width: 768px) {

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

}